<% layout('layouts/boilerplate') %>
    <div class="row">
        <div class="col-6 offset-3">
            <h1 class="text-center">Add new campground</h1>
            <form novalidate class="container needs-validation" action="/campgrounds" method="post">
                <div class="row">
                    <div class="mb-3 col-md-7">
                        <label for="name" class="form-label">Name</label>
                        <input required name="campground[title]" type="text" class="form-control" id="name"
                            placeholder="Enter the camp name">
                    </div>

                    <div class="mb-3 col-md-5">
                        <label for="price" class="form-label">Price</label>
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1">$</span>
                            <input required name="campground[price]" type="text" class="form-control" id="price"
                                placeholder="Enter the camp price">
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Image</label>
                    <input required name="campground[image]" type="text" class="form-control" id="image"
                        placeholder="Enter the camp image url">
                </div>

                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input required name="campground[location]" type="text" class="form-control" id="location"
                        placeholder="Enter the camp location">
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea required name="campground[description]" type="text" class="form-control" id="description"
                        placeholder="Enter the camp description"></textarea>
                </div>

                <div class="mb-3">
                    <button class="btn btn-success">submit</button>
                </div>
            </form>
            <div class="container">
                <a href="/campgrounds">Back to campgrounds page</a>
            </div>
        </div>
    </div>